* {
    text-align: center;
}

h1 {
    background-color: green;
    width: 300px;
    height: 200px;
    color: white;
    text-align: center;

    background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870");
    background-size: cover;
    background-position: center;

    margin: auto;
    border-radius: 10px;
    padding-text-outline: 20px;
}

button {
    width: 100px;
    margin: auto;
    display: block;
}